<section class="row">


    @for (item of allDepartments; track $index) {

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img [src]="baseUrl + item.image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.description}}</p>
                <a href="#" class="btn btn-primary">{{item.price}}</a>
                <h3>{{item.date}}</h3>
                <h6>Ejemplo estático</h6>

                <button>Comprar</button>
            </div>
        </div>
    </div>
    }

</section>